.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  .productos-en-carrito {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }