.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
}

.productos-en-carrito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-clear {
  margin: 0 !important;
}

.img-empty {
  width: 25rem;
}

.total-a-pagar {
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 67%;
  }
}