.btn-cart i {
    font-size: 30px;
    margin-left: 20px;
}

.btn-cart{
    border: 0;
    background: none;
    padding-left: 0;
}
.productos-carrito {
    color: white;
    font-size: 1rem;
    font-weight: bold;
  
    border-radius: 0.5rem;
    height: 22px;
    width: 22px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: red;
  }