*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.logo{
    display: flex;
    justify-content:center;
    padding-top: 20px;
    font-size: 40px;
    font-family: 'The Nautigal', cursive;
    font-weight: 900;
}


.nav-admin p {
    padding-right: 30px;
}
.nav-admin{
    display: flex;
    align-items: center;

}
.navbar-top{
    width: 100%;
}


.LinkA {
    
    text-decoration: none !important;
    color: #FFFFFF !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1.42px;
}

.navbar-bottom{
    padding:30px;
    background-color: #FEAA89;
    width: 100%;
}

.nav-links li{
    display:inline-block;
    padding-left:20x;
    padding-right:20px;
    align-items: center;
}
.nav-icon{
    display:none;

}


.input-search{
    position: absolute;
    width: 40%;
    top: 7.5%;
    left: 30%;
    border-radius: 25px 25px 25px 25px;
}

@media screen and (max-width:960px) {

    .mobile-season{
        display:none;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid #000;
        position: absolute;
        top:193px;
        left:-110%;
        opacity: 1;
    }

    .nav-links.active{
        background: #FEAA89;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links li {
       text-align:center;
    }

    .nav-links li:hover{
        border-bottom: 1px solid black;
        width: 100%;
    }

    .nav-icon {
        display: block;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav-text {
       
        color: #FFFFFF ;
        font-family:'Roboto', sans-serif;
        padding: 12px 15px;
        font-size: 20px;
    }

    .navbar-bottom{
        padding:0;
    }
}

@media screen and (max-width:430px) {
    .nav-links {
        top:190px
    }
}