*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.logo{
    display: flex;
    justify-content:center;
    padding-top: 20px;
    font-size: 40px;
    font-family: 'The Nautigal', cursive;
    font-weight: 900;
}

.btn-cart i {
    font-size: 30px;
    margin-left: 20px;
}

.btn-cart{
    border: 0;
    background: none;
    padding-left: 0;
}

.nav-admin p {
    padding-right: 30px;
}
.nav-admin{
    display: flex;
    align-items: center;

}
.navbar-top{
    width: 100%;
}


li,a {
    
    text-decoration: none !important;
    color: #FFFFFF !important;
    font-size: 16px;
    font:'roboto';
    font-weight: 500;
    letter-spacing: 1.42px;
}

.navbar-bottom{
    padding:30px;
    background-color: #FEAA89;
    width: 100%;
}

.nav-links li{
    display:inline-block;
    padding-left:20x;
    padding-right:20px;
    align-items: center;
}
/* INPUT CSS*/

.input-search{
    position: absolute;
    width: 40%;
    top: 7.5%;
    left: 30%;
    border-radius: 25px 25px 25px 25px;
}